.main-add-task {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  height: 50px;
  background-color: #041e33;
  margin-left: 400px;
  margin-top: 50px;
  border-radius: 10px;

  button {
    margin-right: 10px;
    border-radius: 10px;
    border: white 1px solid;
    width: 100px;
    height: 35px;
    color: #041E33;
    cursor: pointer;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}

.link-container {
  button {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
}
