@import "../assets/colors";
@import "../assets/fonts";

.signIn-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  max-width: 250px;
  width: 100%;
  background-color: $main-nav-color;
}

.signIn-align {
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  input,
  button {
    width: 70%;
    margin-bottom: 20px;
  }
}


