.main-today-tasks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  height: 600px;
  background-color: #041e33;
  margin-left: 400px;
  margin-top: 50px;
}

.main-today-tasks-table {

  background-color: #7B9DB8;
  height: 500px;
  width: 90%;
  margin-right: 45px;
}